<!doctype html>
<html>

  <body>
    {{ ^loggedIn }}
      <h1>Gabble</h1>
      <div>
        <a href="/users/signup">
          <button>Sign Up</button>
        </a>
        <br>
        <a href="/users/login">
          <button>Log In</button>
        </a>
      </div>
    {{ /loggedIn }}

    {{ #loggedIn }}
    <header>
      <nav>
        <a href="/home">
          <button>Home</button>
        </a>
        <a href="/messages/new">
          <button>Add a Gabble</button>
        </a>
        <form method="post" action="/users/logout">
          <input type="submit" value="Log Out">
        </form>
      </nav>
    </header>

    <div>
      <form method="post" action="/messages/new">
        <textarea name="newgabble" placeholder="Type here."></textarea>
        <input type="submit" value="Gabble">
      </form>
    </div>

    {{ #messages }}
    <div>
      <h3>{{ userId }}</h3>
      <p>{{ message }}</p>
      <form method="post" action="/likes">
        <input type="submit" value="Like">
      </form>
    </div>
    {{ /messages }}
    {{ /loggedIn }}
  </body>
</html>