<!doctype html>
<html>
<head>
    <title>Sign Up</title>
</head>

<body>
    <header>
      <a href="/users/login">Already a member? Log In</a>
    <header>

    <section>
      <h1>New user? Sign Up!</h1>

      <form method="post" action="/users/signup">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Sign Up">
      </form>
    <section>

</body>
</html>